@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sum of Numbers</h1>
    <br /> <br />
    <form method="post" action="/Home/Calculate">
        <label for="num1">Number 1:</label>
        <input type="number" id="num1" name="num1" required><br><br>

        <label for="num2">Number 2:</label>
        <input type="number" id="num2" name="num2" required><br><br>

        <input class="btn btn-primary" type="submit" value="Calculate">
    </form>
</div>

